* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}

#navbar {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

#navbar #logo {
    height: 70px;
    width: 140px;
    position: absolute;
    left: 3%;
    top: -5px;
}

#navbar #logo img {
    height: 70px;
    width: 140px;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
    top: 0;
}

#navbar ul:hover .active {
    background: none;
    border: none;
}

#navbar ul li {
    height: 60px;
    width: 140px;
    margin: 0 30px;
    display: grid;
    place-items: center;
    border-radius: 25px 0;
    transition: 0.5s;
}

#navbar ul li:hover {
    background: linear-gradient(to top, #64a5ad, #ffffff00);
    border: 2px solid #98c3c8;
}

#navbar ul li a {
    text-decoration: none;
    color: #64a5ad;
    font-size: 20px;
    transform: 0.5s;
}

#navbar ul li:hover a {
    color: #207884;
}

#navbar ul .active {
    background: linear-gradient(to top, #64a5ad, #ffffff00);
    border: 2px solid #98c3c8;
}

#navbar ul .active a {
    color: #207884;
}

#aSide {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 300px);
    right: 7%;
}

#aSide img,
model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#content {
    height: 100px;
    width: 300px;
    position: absolute;
    left: 12%;
    top: calc(50% - 250px);
}

#content h2 {
    
    background: linear-gradient(to right,#c5c5c5, #4e4a4a );
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent; 
      background-clip: text;
      color: transparent;
      font-size: 70px;
      font-weight: bold;
}

#content p {
    font-size: 20px;
    color: #c5c5c5;
}

#content button {
    height: 65px;
    width: 200px;
    border: 2px solid #393d3d;
    outline: none;
    font-size: 20px;
    margin: 20px 0;
    background: linear-gradient(to top, #0c0c0c, #93a193);
    color: #feffff;
    border-radius: 25px;
    box-shadow: #393d3d;
    cursor: pointer;
}

#content button:hover {
    background: none;
}







#pagination {
    height: 150px;
    width: 340px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40%;
    bottom: 7%;
}



#pagination #leftBtn i,
#rightBtn i {
    font-size: 80px;
    color: #207884;
}
